name: Build ZMK Firmware
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout user config
        uses: actions/checkout@v3
        with:
          path: config

      - name: Checkout ZMK firmware
        uses: actions/checkout@v3
        with:
          repository: zmkfirmware/zmk
          path: zmk

      - name: West setup
        run: |
          sudo apt update
          sudo apt install -y python3-pip
          pip3 install west
          cd zmk
          west init -l app
          west update

      - name: Build left side
        run: |
          cd zmk/app
          west build -s zmk --pristine -b super_left -- -DSHIELD=forager_left -DZMK_CONFIG="${{ github.workspace }}/config/config"

      - name: Build right side
        run: |
          cd zmk/app
          west build -s zmk --pristine -b super_right -- -DSHIELD=forager_right -DZMK_CONFIG="${{ github.workspace }}/config/config"

      - name: Upload UF2 files
        uses: actions/upload-artifact@v4
        with:
          name: ZMK-Forager
          path: |
            zmk/app/build/zephyr/zmk.uf2



