name: Build ZMK Firmware
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - board: super_left
            shield: forager_left
          - board: super_right
            shield: forager_right
    steps:
      - uses: actions/checkout@v3
      - name: Build (ZMK)
        uses: zmkfirmware/zmk@main
        with:
          board: ${{ matrix.board }}
          shield: ${{ matrix.shield }}
